<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metas y titulo -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VintageGames</title>
    <meta name="robots" content="index,nofollow">
    <meta name="Author" content="Aaron Chaves Alfonso">
    <meta name="description" content="Pagina web sobre videojuegos antiguos, historia del videojuego">
    <meta name="keywords" content="vintage, videojuegos, juegos antiguos">
    <meta name="revisit-after" content="3 days">
    <meta name="category" content="Juegos Vintage, juegos antiguos">
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Icono de la pagina (favicon)-->
    <link rel="icon" type="image/png" href="../favicon.ico">

</head>
<body>
    <!-- Barra de Navegacion --> 
        <nav class="navigationBar">
            <!-- Logo de la pagina -->
            <img src="../assets/images/logo2.png" class="logo" width="300" height="120" alt="logo de la pagina">
            <h1>Vintage Games</h1>
            <ul class="navigationBarList">
                <li>
                    <a href="../index.html" class="enlace">Inicio</a>
                </li>
                <li>
                    <a href="productos.html" class="enlace">Galeria</a>
                </li>
                <li>
                    <a href="#" class="enlace active">Contacto</a>
                </li>
                <li>
                    <a href="presupuesto.html" class="enlace">Formulario</a>
                </li>
            </ul>
        </nav>
    <!-- Div que contiene la Pagina completa -->

    <div id="contenedor_ubicacion">

    
        <div class="ubi_contacto">
            <p>Aqui teneis nuestra ubicacion de la tienda fisica de Vintage Games:</p>
            <img src="../assets/images/ubicacion_empresa.png" alt="ubicacion tienda fisica VintageGames">
        </div>

    </div>  
      
    <!-- Pie de Pagina -->

    <div class="footer">
        <footer>
            <p class="foot"><span class="italic">::::VintageGames::::</span><p class="foot"><a href="https://twitter.com/VintageGames">Twitter.com/VintageGames</a></p>
            <p class="foot"><a href="https://facebook.com/VintageGames">Facebook.com/VintageGames</a></p><span class="italic">::::Por Aaron Chaves Alfonso::::</span>
        </footer>
    </div>
</body>
</html>