<!DOCTYPE html>
<html lang="es">
<head>
    <!-- Metas y titulo -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VintageGames</title>
    <meta name="robots" content="index,nofollow">
    <meta name="Author" content="Aaron Chaves Alfonso">
    <meta name="description" content="Pagina web sobre videojuegos antiguos, historia del videojuego">
    <meta name="keywords" content="vintage, videojuegos, juegos antiguos">
    <meta name="revisit-after" content="3 days">
    <meta name="category" content="Juegos Vintage, juegos antiguos">
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="../css/estilos.css">
    <!-- Icono de la pagina (favicon)-->
    <link rel="icon" type="image/png" href="../favicon.ico">

</head>
<body>
    <!-- Enlace de salto a inicio -->
    <span id="inicio"></span>
    <!-- Barra de Navegacion --> 
        <nav class="navigationBar">
            <!-- Logo de la pagina -->
            <img src="../assets/images/logo2.png" class="logo" width="300" height="120" alt="logo de la pagina">
            <h1>Vintage Games</h1>
            <ul class="navigationBarList">
                <li>
                    <a href="../index.html" class="enlace">Inicio</a>
                </li>
                <li>
                    <a href="#" class="enlace active">Galeria</a>
                </li>
                <li>
                    <a href="contacto.html" class="enlace">Contacto</a>
                </li>
                <li>
                    <a href="presupuesto.html" class="enlace">Formulario</a>
                </li>
            </ul>
        </nav>
        <!-- Contenedor Galeria de Imagenes -->
        <div id="contenedor_galeria">

            <div class="galeria_title">ALGUNOS DE NUESTROS PRODUCTOS</div><br>

            <div id="producto1"> 

                <div>                          
                    <img src="/assets/productos/producto1/bolso_monedero.jpg" alt="bolso monedero retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto1/bolso_monedero2.jpg" alt="bolso monedero retro" width="200" height="200">
                </div> 
                <span>Bolso Monedero</span>                         
            </div>

            <div id="producto2">
                <div>                          
                    <img src="/assets/productos/producto2/juego_de_mesa.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto2/juego_de_mesa2.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto2/juego_de_mesa3.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto2/juego_de_mesa4.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <span>Juego de mesa retro</span>
            </div>

            <div id="producto3">
                <div>                          
                    <img src="/assets/productos/producto3/mando_juegos_retro.jpg" alt="mando juegos retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto3/mando_juegos_retro2.jpg" alt="mini arcade retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto3/mando_juegos_retro3.jpg" alt="mini arcade retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto3/mando_juegos_retro4.jpg" alt="mini arcade retro" width="200" height="200">
                </div>
                <span>Mini consola con mando retro</span>
            </div>
            <div id="producto4">    
                <div>                          
                    <img src="/assets/productos/producto4/mini_arcade.jpg" alt="mini arcade retro" width="200" height="200">
                </div>

                <div>                          
                    <img src="/assets/productos/producto4/mini_arcade2.jpg" alt="mini consola retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto4/mini_arcade3.jpg" alt="mini consola retro" width="200" height="200">
                </div>
                <span>Mini juego Arcade</span>
            </div>
            <div id="producto5">   
                <div>                          
                    <img src="/assets/productos/producto5/mini_consola.jpg" alt="reloj pacman retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto5/mini_consola2.jpg" alt="reloj pacman retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto5/mini_consola3.jpg" alt="reloj pacman retro" width="200" height="200">
                </div>
                <span>Mini consola retro</span>
            </div>
            <div id="producto6">
                <div>                          
                    <img src="/assets/productos/producto6/reloj_pacman.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto6/reloj_pacman2.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto6/reloj_pacman3.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <div>                          
                    <img src="/assets/productos/producto6/reloj_pacman4.jpg" alt="juego mesa retro" width="200" height="200">
                </div>
                <span>Reloj Pacman retro</span>
                <div class="fin_gale">
                <p class="fin_gale">!Estos articulos y muchos mas en nuestra tienda fisica, visite nuestra seccion de contacto para ver nuestra ubicacion!</p>
                <span><a class="subir2" href="#inicio">Subir</a></span>
                </div>
            </div>
        </div>         
    <!-- Pie de Pagina -->

    <div class="footer">
        <footer>
            <p class="foot"><span class="italic">::::VintageGames::::</span><p class="foot"><a href="https://twitter.com/VintageGames">Twitter.com/VintageGames</a></p>
            <p class="foot"><a href="https://facebook.com/VintageGames">Facebook.com/VintageGames</a></p><span class="italic">::::Por Aaron Chaves Alfonso::::</span>
        </footer>
    </div>
</body>
</html>